.timer1 {
	max-width: 100%;
	padding: 10px;
	//background: #0080FF;
    background: linear-gradient(#03C0FA, #000180);
    color: white;
	border-radius: 10px;
	//border: 2px solid #0080FF;
    border: 2px solid linear-gradient(#03C0FA, #000180);
	margin: 10px;
    text-align: center;
    font-family: 'Nunito';
}
.test {
    background: lightblue;
    border-radius: 50%;
    text-align: center;
    font-family: 'Nunito';
}

.letra {
    font-size: 15px;
    
}

.dias {
    font-size: 1.8em;
}

.texto {
    text-align: center;
    font-family: 'GreatVibes';
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
  }