/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-Regular.ttf")
}

@font-face {
    font-family: "Kanit";
    src: url("./assets/fonts/Kanit-Regular.ttf")
}

@font-face {
  font-family: "GreatVibes";
  src: url("./assets/fonts/GreatVibes-Regular.ttf")
}

@keyframes scroll-img {
    0% {
      scale: 30%;
      opacity: 0;
    }
    50% {
      scale: 60%;
      opacity: 0.8;
    }
    100% {
      scale: 100%;
      opacity: 1;
    }
  }
  
  img{
    animation-timeline: --image-scroll; /* binding element (--image-scroll) with the scroll */
    animation-name: scroll-img;
    
    view-timeline-name: --image-scroll; /* create the element (--image-scroll) */
    view-timeline-axis: block; 

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
  }

  .timer1{
    animation-timeline: --image-scroll; /* binding element (--image-scroll) with the scroll */
    animation-name: scroll-img;
    
    view-timeline-name: --image-scroll; /* create the element (--image-scroll) */
    view-timeline-axis: block; 

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
  }

  .move{
    animation-timeline: --image-scroll; /* binding element (--image-scroll) with the scroll */
    animation-name: scroll-img;
    
    view-timeline-name: --image-scroll; /* create the element (--image-scroll) */
    view-timeline-axis: block; 

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
  }
  
  ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  
  .default-alert{
    .alert-wrapper{
      background: linear-gradient(#03C0FA, #000180) !important;
    }
    .alert-message {
      text-align: center !important;
      font-family: 'Nunito' !important;
      font-size: 18px !important;
      color: #C0C0C0 !important;
      font-weight: bold !important;
    }
    .alert-sub-title {
      text-align: center !important;
      font-family: 'GreatVibes' !important;
      font-size: 40px !important;
      color: white !important;
      font-weight: bold !important;
    }

    .alert-title {
      text-align: center !important;
      font-family: 'Nunito' !important;
      font-size: 18px !important;
      color: black !important;
      font-weight: bold !important;
      padding-bottom: 5%;
    }
    button {
      color: white !important;
      background-color: #efb810 !important;
      width: 100% !important;
      text-align: center !important;
      margin-right: 0px !important;
      padding-right: 25% !important;
      padding-left: 25% !important;
    }
  }
