
<ion-content color="light">
  <ion-card class="principal">
    <ion-card-header>
      <ion-card-subtitle>Dios decidió el tiempo perfecto para unir nuestros caminos.</ion-card-subtitle>
        <ion-card-title class="nombres">Josué</ion-card-title>
        <ion-card-title class="separador">&</ion-card-title> 
        <ion-card-title class="nombres">María de Jesús</ion-card-title> 
    </ion-card-header>
    <ion-card-content style="color:#C0C0C0;font-weight: bold" class="noscasamos">
      ¡Nos Casamos!
    </ion-card-content>
  </ion-card>
  <app-reproductor></app-reproductor>
  <div style="text-align:center">
    <img src="assets/imagenes/anillos1.png" height="75"/>
  </div>
  <ion-label class="ion-text-center ion-padding move">Con nuestro amor, la presencia de Dios entre nosotros y la bendición de nuestros padres.</ion-label>
  <ion-grid class="move">
    <ion-row>
      <ion-col style="border-right: solid 3px #efb810;">
        <ion-label class="papas">Novia:</ion-label><br>
        Guillermina Delgado Castellanos <br><br>
        Juan Manuel Arechiga Rodríguez
      </ion-col>
      <ion-col>
        <ion-label class="papas">Novio:</ion-label><br>
        María del Carmen Nuño Fregoso <br><br>
        Rafael García Nande
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-label class="ion-text-center move">Y acompañados por nuestros padrinos:</ion-label>
  <ion-label class="ion-text-center move">Sara García Nande</ion-label>
  <ion-label class="ion-text-center move">Rafael Villegas García</ion-label>
  <br>
  <br>
  <div style="text-align:center" class="square">
    <img src="assets/imagenes/flores4.png" height="100"/>
  </div>
  <br>
  <ion-card class="move secundarios">
    <ion-card-content style="color:white" class="frase">
      Hay momentos en la vida que son especiales por si solos, pero compartirlos con las personas que amamos los hace inolvidables.
      <br>
      Tenemos el honor de invitarlos a nuestro enlace matrimonial.
    </ion-card-content>
  </ion-card>
  <br>
  <ion-grid class="ion-padding move">
    <ion-label class="ion-text-center fecha">Sábado</ion-label>
    <ion-row>
      <ion-col class="datos">
        <ion-label class="datosLabel">Enero</ion-label>
      </ion-col>
      <ion-col class="dia">
        20
      </ion-col>
      <ion-col class="datos">
        <ion-label class="datosLabel">2024</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-contador></app-contador>
  <div style="text-align:center">
    <img src="assets/imagenes/flores5.png" height="100"/>
  </div>
  <br>
  <ion-card class="move secundarios">
    <ion-card-content style="color:white;padding-bottom:0px" class="frase">
      <ion-grid style="padding-bottom:0px">
        <ion-row>
          <ion-col style="border-right: dashed 1px white">
            Acompañanos en nuestra ceremonia religiosa:
          </ion-col>
          <ion-col>
            Para luego celebrar con una recepción:
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="padding-top:0px;padding-bottom:0px">
        <ion-row>
          <ion-col style="border-right: dashed 1px white">
            <img src="assets/imagenes/church.png" height="50"/>
          </ion-col>
          <ion-col>
            <img src="assets/imagenes/brindis.png" height="50"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="padding-top:0px;padding-bottom:0px">
        <ion-row>
          <ion-col style="border-right: dashed 1px white">
            Hora: 5:00 pm <br> 
            Parroquia de San Miguel  Arcángel  
          </ion-col>
          <ion-col>
            Hora: 7:00 pm <br>
            Terraza Rondinela<br>
            Calle San Diego #597, Cocula, Jal. 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-grid style="padding-top:0px">
      <ion-row>
        <ion-col style="border-right: dashed 1px white">
          <ion-button (click)="openMapaMisa()" class="linksBtn">
            Ver mapa
            <ion-icon slot="end" name="map"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="openMapaLocal()" class="linksBtn">
            Ver mapa
            <ion-icon slot="end" name="map"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <ion-label class="ion-text-center ion-padding move">Gracias por ser parte de este día tan especial para nosotros.</ion-label>
  <br>
  <ion-label class="titulo move"><b>Te esperamos.</b></ion-label>
  <br>
  <div style="text-align:center">
    <img src="assets/imagenes/test123.png" height="100"/>
  </div>
  <br>
  <ion-label class="move">Confirma tu asistencia hasta el 03 de Enero</ion-label>
  <ion-grid class="ion-padding">
    <ion-row *ngFor="let item of list">
      <ion-col>
        {{item.Nombre}}
      </ion-col>
      <ion-col *ngIf='!disabledButtons'>
        <ion-button (click)="confirmarAsistencia(item.Id)" *ngIf='!item.Asistira' class="confirmacionBtn">
          Confirmar
        </ion-button>
        <ion-button (click)="desconfirmarAsistencia(item.Id)" *ngIf='item.Asistira' class="confirmacionBtn">
          Desconfirmar
        </ion-button>
      </ion-col>
      <ion-col *ngIf='disabledButtons'>
        <ion-button (click)="confirmarAsistencia(item.Id)" *ngIf='!item.Asistira' class="confirmacionBtn" disabled>
          Confirmar
        </ion-button>
        <ion-button (click)="desconfirmarAsistencia(item.Id)" *ngIf='item.Asistira' class="confirmacionBtn" disabled>
          Desconfirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
