#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  --background: #627F9F;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 0%;
}

.confirmacionBtn {
  --background: #3C5B8A;
}

.linksBtn {
  --background: #BCCFE6;
  color: black;
}
.nombres {
  --color: white;
  text-align: center;
  font-family: 'MrDeHaviland';
  font-size: 70px;
}
.separador {
  --color: white;
  text-align: center;
  font-family: 'MrDeHaviland';
  font-size: 50px;
}

ion-card-subtitle {
  --color: white;
  text-align: center;
  font-family: 'Kanit';
  font-size: 17px;
}

.noscasamos {
  --color: white;
  text-align: center;
  font-family: 'Nunito';
  font-size: 20px;
}

.apellidos {
  --color: white;
  text-align: center;
  font-family: 'MrDeHaviland';
  font-size: 50px;
}

ion-label {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-grid {
  text-align: center;
  font-family: 'Nunito';
}

.frase {
  --color: white;
  text-align: center;
  font-family: 'Nunito';
  font-size: 17px;
}

ion-title {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  width: 100%;
}

.titulo {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.titulo1 {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  color: #627F9F;;
}

.fecha {
  font-size: 20px;
  font-weight: bold;
}

.datos {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.datosLabel {
  border-top: 2px solid #627F9F;
  border-bottom: 2px solid #627F9F;
  padding-top: 5%;
  padding-bottom: 5%;
}

.dia {
  text-align: center;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  color: #627F9F;
  padding: 0px;
}

.papas {
  color: #627F9F;
  font-weight: bold;
}
